<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}芙中学习网-首页{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/css.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block custom_css %}{% endblock %}
</head>
<body data-ruyitao-uid="c5wr5554a379" class="">
	<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" href="{% url 'index' %}">首页</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
			<li {% if request.path|slice:'7' == '/course' %}class="active"{% endif %}>
				<a href="{% url 'course:course_list' %}">课程</a>
			</li>
			<li {% if request.path|slice:'12' == '/org/teacher' %}class="active"{% endif %}>
				<a href="{% url 'org:teacher_list' %}">教师</a>
			</li>
			<li {% if request.path|slice:'9' == '/org/list' %}class="active" {% endif %}>
				<a href="{% url 'org:org_list' %}">授课机构</a>
			</li>
		
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
	<div class="container top clearfix nav-myself">
		<p>nav</p>
    	<div class="pull-left logo"><a href=""><img src="{% static 'images/logo1.jpg' %}"></a></div>
       
   </div>
    <div class="banner-bottom" >
        <div class="search-back">
            <div class="mod_select pull-left">
                <ul>
                    <li>
                        <div class="select_box">
                            <span class="caret"></span>
                            <span class="select_txt">课程</span>
                            <div class="option" style="display: none;">
                                <a>课程</a>
                                <a>教师</a>
                                <a>机构</a>
                            </div>
                        </div>
                        <br clear="all">
                    </li>
                </ul>
                <input type="hidden" id="select_value">
            </div>
            <div class="pull-left input-div"><input type="text" class="form-control input-search" placeholder="公开课、教师、机构"></div>
            <button type="button" class="btn btn-sear">搜索</button>
        </div>
    </div>
{% block custom_banner %}
    <div class="about-banner">
    	<div class="about-img"><img src="{% static 'images/about.jpg' %}"></div>
    </div>
{% endblock %}   
{% block custom_bread %}

{% endblock %}


	{% block content %}
	
	{% endblock %}
	
    <div class="footer">
    	<div class="container">
            <div class="bottom clearfix">
            	<div class="pull-left ul-width">
                	<div class="link-tt">关于微舍</div>
                    <ul>
                    	<li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/%E5%85%B3%E4%BA%8E%E6%88%91%E4%BB%AC.html">品牌故事</a></li>
                        <li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/%E5%85%B3%E4%BA%8E%E6%88%91%E4%BB%AC.html">品牌理念</a></li>
                        <li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/%E5%85%B3%E4%BA%8E%E6%88%91%E4%BB%AC.html">发展历程</a></li>
                    </ul>
                </div>
            	<div class="pull-left ul-width">
                	<div class="link-tt">微舍服务</div>
                    <ul>
                    	<li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/">销售模式</a></li>
                        <li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/">租后服务</a></li>
                        <li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/">智能设备的应用</a></li>
                    </ul>
                </div>
            	<div class="pull-left ul-width">
                	<div class="link-tt">管理运营</div>
                    <ul>
                    	<li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/">团队管理软件</a></li>
                        <li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/">房源管理系统-</a></li>
                        <li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/">蘑菇系统</a></li>
                    </ul>
                </div>
            	<div class="pull-left ul-width">
                	<div class="link-tt">行业前景</div>
                    <ul>
                    	<li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/%E8%A1%8C%E4%B8%9A%E5%89%8D%E6%99%AF.html">行业前景</a></li>
                        <li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/">房东加盟</a></li>
                    </ul>
                </div>
            	<div class="pull-left ul-width">
                	<div class="link-tt">新闻中心</div>
                    <ul>
                    	<li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/%E6%96%B0%E9%97%BB.html">最新资讯</a></li>
                        <li><a href="http://www.nnhlsj.com/%E5%BE%AE%E8%88%8D/%E6%96%B0%E9%97%BB.html">新闻专题</a></li>
                    </ul>
                </div>
                <div class="pull-left ewm">
                	<div class="pull-left"><img src="{% static 'images/code.jpg' %}" height="118" width="117"></div>
                    <div class="pull-left ewm-txt">
                    	<div>地址：上海市闵行区宝城路155弄26号805</div>
                        <div>电话： 408-2233-02</div>
                        <div class="phone">全国统一服务热线：</div>
                        <div class="phone-number">408-2233-02</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-d text-center">Copyright © 2005-2017 wesharelive.com,All Right Reserved 沪ICP备17007071号</div>
    </div>

<script type="text/javascript">
    $(document).ready(function(){
            $(".select_box").click(function(event){   
                event.stopPropagation();
                $(this).find(".option").toggle();
                $(this).parent().siblings().find(".option").hide();
            });
            $(document).click(function(event){
                var eo=$(event.target);
                if($(".select_box").is(":visible") && eo.attr("class")!="option" && !eo.parent(".option").length)
                $('.option').hide();                                      
            });
            /*赋值给文本框*/
            $(".option a").click(function(){
                var value=$(this).text();
                $(this).parent().siblings(".select_txt").text(value);
                $("#select_value").val(value)
             })
        })
</script>
{% block custom_js %}{% endblock %}
</body></html>