{% extends 'base.html' %}
{% block title %}首页 - 芙中学习网{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
{% endblock %}

{% block custom_js %}

{% endblock %}
{% block custom_banner %}
{% endblock %} 
{% block content %}
   
    <div class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        	<ol class="carousel-indicators">
        		{% for banner in all_banners %}
		        <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter == 1 %}active{% endif %}"></li>
		        {% endfor %}
		    </ol>   
          <!-- Wrapper for slides 轮播 项目-->
          <div class="carousel-inner" role="listbox">
          	{% for banner in all_banners %}
          		<div class="item {% if forloop.counter == 1 %}active{% endif %}"><a href="{{ banner.url }}"><img src="{{ MEDIA_URL }}{{ banner.image }}"></a></div>     	
            {% endfor %}
          </div>
          <!-- Controls 轮播导航 -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          </a>
        </div>
    </div>
    <div class="back-index">
		<div class="container">
        	<div class="title text-center">公开课程</div>
            <div class="lind"></div>
            <div class="title-sm text-center">我们致力于为学习者打造高质量的课程资源</div>
            <div class="clearfix img-c">
            	{% for course in courses %}
            		{% if forloop.counter == 1 %}
            	<a class="img-md" href="{% url 'course:course_detail' course.id %}">
                	<div><img src="{{ MEDIA_URL }}{{ course.image }}"></div>
                        <div class="mask">
                        	<div class="mask-txt-c">
                                <div class="mask-tt">{{ course.name }}</div>
                                <div class="mask-txt">难度：{{ course.get_degree_display }}</div>
                            </div>
                        </div>
                </a>
                	{% endif %}
                	{% if forloop.counter == 2 %}
                <div class="img-xs pull-left">
                    <a href="{% url 'course:course_detail' course.id %}">
                        <div><img src="{{ MEDIA_URL }}{{ course.image }}"></div>
                        <div class="mask">
                        	<div class="mask-txt-c">
                                <div class="mask-tt">{{ course.name }}</div>
                                <div class="mask-txt">难度：{{ course.get_degree_display }}</div>
                            </div>
                        </div>
                    </a>
                </div>
                	{% endif %}
                	{% if forloop.counter == 3 %}
                <a class="img-lg" href="{% url 'course:course_detail' course.id %}">
                	<div><img src="{{ MEDIA_URL }}{{ course.image }}"></div>
                        <div class="mask">
                        	<div class="mask-txt-c">
                                <div class="mask-tt">{{ course.name }}</div>
                                <div class="mask-txt">难度：{{ course.get_degree_display }}</div>
                            </div>
                        </div>
                </a>
                    {% endif %}
                	{% if forloop.counter == 4 or forloop.counter == 5 %}
                <div class="img-sm pull-left">
                    <a href="{% url 'course:course_detail' course.id %}">
                        <div><img src="{{ MEDIA_URL }}{{ course.image }}"></div>
                        <div class="mask">
                        	<div class="mask-txt-c">
                                <div class="mask-tt">{{ course.name }}</div>
                                <div class="mask-txt">难度：{{ course.get_degree_display }}</div>
                            </div>
                        </div>
                    </a>
                </div>
					{% endif %}
			{% endfor %}
            </div>
        </div>
    </div>
 
{% endblock %}


