{% extends 'base.html' %}
{% block title %}课程详情 - 芙中学习网{% endblock %}
{% load staticfiles %}

{% block custom_bread %}
    <div class="nav-bottom">
    	<div class="container"><a href="{% url 'index' %}">首页</a><span>&gt;</span>
    		<a href="{% url 'course:course_list' %}">课程</a></a><span>&gt;</span>课程详情</div>
    </div>
{% endblock %}

{% block content %}
	<div class="container zf-more">
    	<div class="clearfix">
        	<div class="pull-left">
				<img class="sp-image img-responsive center-block" src="{{ MEDIA_URL }}{{ course.image }}">   
            </div>
 
            <div class="pull-left more-right" style="margin-top: 0px;">
            	<div class="more-tt"><h2>{{ course.name }}</h2></div>
                <div class="more-money clearfix">
                	<!--<div class="pull-left money-left">2900元/月</div>-->
                    <div class="pull-left"><div class="label-span">{{ course.desc }}</div></div>
                </div>
                <div class="more-txt">
                	<p>难&nbsp;&nbsp;度：<font size="5" color="#FB8344">{{ course.get_degree_display }}</font></p>
                    <p>时&nbsp;&nbsp;长：共<font size="4" color="#FB8344">{{ course.learn_times }}</font>分钟
                    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;章节数：<font size="4" color="#FB8344">{{ course.get_zj_nums }}</font></p>
                    <p>课程类别：<font size="4" color="#FB8344">{{ course.category }}</font></p>
                    <p>学习用户：{% for user_course in course.get_learn_users %}
                                    <span class="pic"><img width="40" height="40" src="{{ MEDIA_URL }}{{ user_course.user.image }}"/></span>
                                {% endfor %}
                    </p>
                </div>
                
                <div>
					<div class="btn btn-info glyphicon glyphicon-heart"  id="jsLeftBtn">
                          {% if has_fav_course %}已收藏{% else %}收藏{% endif %}&nbsp;
                    </div>
                    <div class="btn btn-danger glyphicon glyphicon-pencil"><a style="color: white" href="{% url 'course:course_info' course.id %}">&nbsp;开始学习&nbsp;</a></div>
				</div>
            </div>
        </div>
    </div>
    <div class="container">
    <div id="room3">

	</div>
	</div>
    <div class="container">
    	<div class="margin-top" style="display: none;"></div>
        <ul class="more-border nav" id="navbarExample" style="padding-left:0px;">
            <li class="1 active"><a href="#navbarExample">课程详情</a></li>
            <!--<li class="2"><a href="#ms">课程详情</a></li>
            <li class="3"><a href="#pp">课程详情</a></li>
            <li class="4"><a href="#wz">课程详情</a></li>-->
        </ul>
        <div class="clearfix more-bottom" id="aaa">
        	<div class="pull-left more-b-left">
                    {% autoescape off %}
					{{ course.detail }}
                    {% endautoescape %}
            </div>
            <div class="more-right-p">
                <div class="yy-form" id="form">
                    <div class="yy-tt">相关课程</div>
                    <div class="yy-padding">
                        {% for relate_course in relate_coures %}
							<p style="margin-top: 25px;">
                                <a target="_blank" href="{% url 'course:course_detail' relate_course.id %}">
                                    <img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ relate_course.image }}"/>
                                    <h2> {{ relate_course.name }}</h2>
                                <span class="fl">学习时长：<font size="5" color="#FB8344">{{ relate_course.learn_times }}</font></span>
                                </a>
							</p>       

                    	{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
//收藏分享
function add_fav(current_elem, fav_id, fav_type){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url "org:add_fav" %}",
        data:{'fav_id':fav_id, 'fav_type':fav_type},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == '用户未登录'){
                    window.location.href="/login/";
                }else{
                    alert(data.msg)
                }

            }else if(data.status == 'success'){
                current_elem.text(data.msg)
            }
        },
    });
}

$('#jsLeftBtn').on('click', function(){
    add_fav($(this), {{ course.id }}, 1);
});
//下面这个按钮时收藏org,本页面course-detail用不到
//$('#jsRightBtn').on('click', function(){
//  add_fav($(this), {{ course.course_org.id }}, 2);
//});


</script>

{% endblock %}