{% extends 'base.html' %}
{% block title %}课程机构列表 - 芙中学习网{% endblock %}
{% load staticfiles %}

{% block custom_bread %}
    <div class="nav-bottom">
    	<div class="container"><a href="{% url 'index' %}">首页</a><span>&gt;</span><a href="">课程</a></div>
    </div>
{% endblock %}

{% block content %}
<div class="container clearfix">
	<div class="pull-left zf-left-c">
    	<div class="zf-left-c-border">
            <div class="zf-top clearfix">
            	<div class="pull-left">
                	<ul class="chooise-list clearfix">
                        <li {% if sort == '' %}class="active"{% endif %}><a href="?sort=">最新 </a></li>
						<li {% if sort == 'hot' %}class="active"{% endif %}><a href="?sort=hot">最热门</a></li>
						<li {% if sort == 'students' %}class="active"{% endif %}><a href="?sort=students">参与人数</a></li>
                    </ul>
                </div>	
                <div class="pull-right">共<span class="key">{{ org_nums }}</span>家授课机构</div>
            </div>
            <div class="row xq-list" style="margin: 5px;">
            	{% for course in all_courses.object_list %}
                <div class="col-sm-4" style="margin: 0px;padding: 3px;">
                	<a href="{% url 'course:course_detail' course.id %}" class="tab-c">
                    	<figure class="img-list-img"><img src="{{ MEDIA_URL }}{{ course.image }}" width="100%"></figure>
                        <div class="tab-txt">
                        	<p class="tab-tt">{{ course.name }}</p>
                            <p class="tab-article">
                            	<span class="pull-left">时长：<i style="color: #fb8341;"><font size="5">{{ course.learn_times }}</font></i></span>
                            	<span class="pull-right">学习人数：<i style="color: #fb8341;"><font size="5">{{ course.students }}&nbsp;&nbsp;</font></i></span>
                            </p>
                        </div>
                    </a>
                </div>
	           {% endfor %}
            </div>
            <div class="text-center">
                <ul class="pagination">
                    {% if all_courses.has_previous %}
                        <li class="long"><a href="?{{ all_courses.previous_page_number.querystring }}"><i class="glyphicon glyphicon-triangle-left"></i></a></li>
                    {% endif %}

                    {% for page in all_courses.pages %}
                        {% if page %}
                            {% ifequal page all_courses.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if all_courses.has_next %}
                        <li class="long"><a href="?{{ all_courses.next_page_number.querystring }}"><i class="glyphicon glyphicon-triangle-right"></i></a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
    <div class="pull-left zf-right-c">
    	<div class="zf-top">推荐课程</div>
        <ul class="zf-list-b">
        	{% for hot_course in hot_courses %}
        	<li>    
            	<a href="{% url 'course:course_detail' hot_course.id %}">
                	<div class="zf-img"><img src="{{ MEDIA_URL }}{{ hot_course.image }}"></div>
                    <div class="right-money">{{ teacher.name }}</div>
                    <div class="right-txt">
                    	<p>难度：<i style="color: #fb8341;"><font size="5">{{ hot_course.get_degree_display }}</font></i></p>
                        <div> </div>
                    </div>
                </a>
                
            </li>
        	{% endfor %}

        </ul>
    </div>
</div>
{% endblock %}

{% block custom_js %}
{% endblock %}