{% extends 'base.html' %}
{% block title %}课程详情 - 芙中学习网{% endblock %}
{% load staticfiles %}

{% block custom_css %}

<link href="{% static 'css/muke/course/common-less.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_bread %}
    <div class="nav-bottom">
    	<div class="container"><a href="{% url 'index' %}">首页</a><span>&gt;</span>
    		<a href="{% url 'course:course_list' %}">课程</a><span>&gt;</span>
    		<a href="{% url 'course:course_detail' course.id %}">课程详情</a><span>&gt;</span>
    		章节信息</div>
    </div>
{% endblock %}

{% block content %}
	<div class="container zf-more">
    	<div class="clearfix">
        	<div class="pull-left">
				<img class="sp-image img-responsive center-block" src="{{ MEDIA_URL }}{{ course.image }}">   
            </div>
 
            <div class="pull-left more-right" style="margin-top: 0px;">
            	<div class="more-tt"><h2>{{ course.name }}</h2></div>
                <div class="more-money clearfix">
                	<!--<div class="pull-left money-left">2900元/月</div>-->
                    <div class="pull-left"><div class="label-span">{{ course.desc }}</div></div>
                </div>
                <div class="more-txt">
                	<p>难&nbsp;&nbsp;度：<font size="5" color="#FB8344">{{ course.get_degree_display }}</font></p>
                    <p>时&nbsp;&nbsp;长：共<font size="4" color="#FB8344">{{ course.learn_times }}</font>分钟
                    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;章节数：<font size="4" color="#FB8344">{{ course.get_zj_nums }}</font></p>
                    <p>课程类别：<font size="4" color="#FB8344">{{ course.category }}</font></p>
                    <p>学习用户：{% for user_course in course.get_learn_users %}
                                    <span class="pic"><img width="40" height="40" src="{{ MEDIA_URL }}{{ user_course.user.image }}"/></span>
                                {% endfor %}
                    </p>
                </div>
                <div>
					<div>
                       课程进度：考虑以后添加进度条或者显示学习到哪里了，具体由教师后台决定学生优秀、良好、合格，来衡量当前进度  
                    </div>
                    
				</div>
            </div>
        </div>
    </div>
    <div class="container">
    <div id="room3">

	</div>
	</div>
    <div class="container">
    	<div class="margin-top" style="display: none;"></div>
        <ul class="more-border nav" id="navbarExample" style="padding-left:0px;">
            <li class="1"><a href="{% url 'course:course_info' course.id %}#navbarExample">章节目录</a></li>
            <li class="2"><a href="{% url 'course:course_resource' course.id %}#navbarExample">资料下载</a></li>
            <li class="3"><a href="{% url 'course:course_comments' course.id %}#navbarExample">个人笔记</a></li>
            <li class="4 active"><a href="#navbarExample">答疑解惑</a></li>
            <li class="5"><a href="#wz">随堂练习</a></li>
        </ul>
        <div class="clearfix more-bottom" id="aaa">
        	<div class="pull-left more-b-left" style="margin:5px auto;">
				<!--PC和WAP自适应版-->
				<div id="SOHUCS" sid="请将此处替换为配置SourceID的语句" ></div> 
				<script type="text/javascript"> 
				(function(){ 
				var appid = 'cytvtFhco'; 
				var conf = 'prod_d815de83ffcc545fbc119170f5bf6eb9'; 
				var width = window.innerWidth || document.documentElement.clientWidth; 
				if (width < 960) { 
				window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>

                <div style="height: 105px;"><!--这个是用来避免手机屏幕上右边资料下载顶到这里的章节信息等内容--></div>
            </div>
            <div class="more-right-p course-info-main">
				<div class="aside r" style="margin-top: -140px;">
	                <div class="bd">
	                    <div class="box mb40">
	                        <h4>资料下载</h4>
	                        <ul class="downlist">
	                            {% for course_resource in course_resources %}
	                            <li>
	                                <span ><i class="glyphicon glyphicon-file"></i>&nbsp;&nbsp;{{ course_resource.name }}</span>
	                                <a href="{{ MEDIA_URL }}{{ course_resource.download }}" class="downcode" target="_blank" download="" data-id="274" title="">下载</a>
	                            </li>
	                            {% endfor %}
	                        </ul>
	                    </div>
	                    <div class="box mb40">
	                        <h4>讲师提示</h4>
	                        <div class="teacher-info">
	                            <a href="/u/315464/courses?sort=publish" target="_blank">
	                                <img src='{{ MEDIA_URL }}{{ course.teacher.image }}' width='80' height='80' />
	                            </a>
						        <span class="tit">
						          <a href="/u/315464/courses?sort=publish" target="_blank">{{ course.teacher.name }}</a>
						        </span>
	                            <span class="job">{{ course.teacher.work_position }}</span>
	                        </div>
	                        <div class="course-info-tip">
	                            <dl class="first">
	                                <dt>课程须知</dt>
	                                <dd class="autowrap">{{ course.youneed_know }}</dd>
	                            </dl>
	                            <dl>
	                                <dt>老师告诉你能学到什么？</dt>
	                                <dd class="autowrap">{{ course.teacher_tell }}</dd>
	                            </dl>
	                        </div>
	                    </div>
	                </div>    
	            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
    //添加评论
    $('#js-pl-submit').on('click', function(){
        var comments = $("#js-pl-textarea").val()
        if(comments == ""){
            alert("评论不能为空")
            return
        }
        //在存储到数据库之前，将“\r\n"替换为"<br>". 然后在保存到数据库中。可以使其在页面显示时，保留换行的格式
        comments = comments.replace(new RegExp("\n", "gm"), "<br>"); 
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'course:add_comment' %}",
            data:{'course_id':{{ course.id }}, 'comments':comments},
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status == 'fail'){
                    if(data.msg == '用户未登录'){
                        window.location.href="/login/";
                    }else{
                        alert(data.msg)
                    }

                }else if(data.status == 'success'){
                    window.location.reload();//刷新当前页面.
                }
            },
        });
    });

</script>
{% endblock %}