{% extends 'base.html' %}
{% block title %}课程机构列表 - 芙中学习网{% endblock %}
{% load staticfiles %}

{% block custom_bread %}
    <div class="nav-bottom">
    	<div class="container"><a href="{% url 'index' %}">首页</a><span>&gt;</span><a href="">课程</a></div>
    </div>
{% endblock %}

{% block content %}
<div class="container clearfix">
	<div class="pull-left zf-left-c">
    	<div class="zf-left-c-border">
            <div class="zf-top clearfix">
            	<div class="pull-left">
                	<ul class="chooise-list clearfix">
                        <li {% if sort == '' %}class="active"{% endif %}><a href="?sort=">最新 </a></li>
						<li {% if sort == 'hot' %}class="active"{% endif %}><a href="?sort=hot">最热门</a></li>
						<li {% if sort == 'students' %}class="active"{% endif %}><a href="?sort=students">参与人数</a></li>
                    </ul>
                </div>	
                <div class="pull-right">共<span class="key">{{ org_nums }}</span>家授课机构</div>
            </div>
            <div class="row xq-list">
            	{% for course in all_courses.object_list %}
	        	<div class="col-md-4 col-sm-6">
	            	<a href="{% url 'course:course_detail' course.id %}">
	                	<div class="xq-img"><img src="{{ MEDIA_URL }}{{ course.image }}"></div>
	                    <div class="xq-txt">
	                    	<div class="xq-tt-sm">{{ course.name }}</div>
	                        <div class="pull-left">时长：<font color="red">{{ course.learn_times }}</font></div>
	                        <div class="pull-right">学习人数：{{ course.students }}&nbsp;&nbsp;</div>
	                    </div>
	                </a>
	                <div class="bottom">
	                    <a href="{% url 'course:course_detail' course.id %}"><span class="fl">来自{{ course.course_org.name }}</span></a>
	                    <span class="star fr  notlogin
	                        " data-favid="15">
	                        {{ course.fav_nums }}
	                    </span>
	                </div>
	            </div>

	           {% endfor %}
            </div>
            <div class="text-center">
                <ul class="pagination">    
                    {% if all_orgs.has_previous %}
                	<li class="long"><a href="?{{ all_orgs.previous_page_number.querystring }}" aria-label="Previous"><i class="glyphicon glyphicon-triangle-left"></i></a></li>
	                {% endif %}
	
	                {% for page in all_orgs.pages %}
	                    {% if page %}
	                        {% ifequal page all_orgs.number %}
	                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
	                        {% else %}
	                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
	                        {% endifequal %}
	                    {% else %}
	                        <li class="none"><a href="">...</a></li>
	                    {% endif %}
	                {% endfor %}
	                {% if all_orgs.has_next %}
	                    <li class="long"><a href="?{{ all_orgs.next_page_number.querystring }}" aria-label="Next"><i class="glyphicon glyphicon-triangle-right"></i></a></li>
	                {% endif %}

                 </ul>
            </div>
        </div>
    </div>
    <div class="pull-left zf-right-c">
    	<div class="zf-top">推荐机构</div>
        <ul class="zf-list-b">
        	{% for curent_org1 in hot_orgs %} 
        	<li>    
        		<!--不知道为什么就是不能使用获得curent_org1.id .image 数据-->
            	<a href="">
                	<div class="zf-img"><img src="{{ MEDIA_URL }}{{ course_org1.image }}"></div>
                    <div class="right-money">{{ curent_org1.name }}{{course_org1.id}}</div>
                    <div class="right-txt">
                    	<p>{{ curent_org1.address }}</p>
                        <div> </div>
                    </div>
                </a>
            </li>
        	{% endfor %}

        </ul>
    </div>
</div>
{% endblock %}

{% block custom_js %}
{% endblock %}