{% extends 'base.html' %}
{% block title %}课程讲师列表 - 芙中学习网{% endblock %}
{% load staticfiles %}

{% block custom_bread %}
    <div class="nav-bottom">
    	<div class="container"><a href="{% url 'index' %}">首页</a><span>&gt;</span><a href="">课程讲师</a></div>
    </div>
{% endblock %}

{% block content %}
<div class="container clearfix">
	<div class="pull-left zf-left-c">
    	<div class="zf-left-c-border">
            <div class="zf-top clearfix">
            	<div class="pull-left">
                	<ul class="chooise-list clearfix">
						<li {% if sort == '' %}class="active"{% endif %}><a href="?sort=">全部</a> </li>
						<li {% if sort == 'hot' %}class="active"{% endif %}><a href="?sort=hot">人气 &#8595;</a></li>
                    </ul>
                </div>	
                <div class="pull-right">共<span class="key">9</span>位讲师</div>
            </div>
            <div class="row xq-list" style="margin: 5px;">
            	{% for teacher in all_teachers.object_list %}
                <div class="col-sm-4" style="margin: 0px;padding: 3px;">
                	<a href="{% url 'org:teacher_detail' teacher.id %}" class="tab-c">
                    	<figure class="img-list-img-teacher"><img src="{{ MEDIA_URL }}{{ teacher.image }}" width="100%"></figure>
                        <div class="tab-txt">
                        	<p class="tab-tt text-center">{{ teacher.name }}&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'images/gold.png' %}">&nbsp;<span class="key picbig">金牌讲师</span></p>
                            <p class="tab-article">
                            	<span class="pull-left">工作年限：<i style="color: #fb8341;"><font size="5">{{ teacher.work_years }}</font></i>&nbsp;年</span>
                            	<span class="pull-right">年龄：<i style="color: #fb8341;"><font size="5">{{ teacher.age }}&nbsp;</font></i>岁&nbsp;</span>
                            </p>
                            <!--<p class="tab-article">
                            	<span class="pull-left">工作岗位：{{ teacher.work_position }}</span>
                            	<span class="pull-right">所属单位：{{ teacher.work_company }}</span>
                            </p>-->
                        </div>
                    </a>
                </div>
	           {% endfor %}
            </div>
            <div class="text-center">
                <ul class="pagination">
                    {% if all_teachers.has_previous %}
                        <li class="long"><a href="?{{ all_teachers.previous_page_number.querystring }}"><i class="glyphicon glyphicon-triangle-left"></i></a></li>
                    {% endif %}

                    {% for page in all_teachers.pages %}
                        {% if page %}
                            {% ifequal page all_teachers.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if all_teachers.has_next %}
                        <li class="long"><a href="?{{ all_teachers.next_page_number.querystring }}"><i class="glyphicon glyphicon-triangle-right"></i></a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
    <div class="pull-left zf-right-c">
    	<div class="zf-top">排行榜</div>
        <ul class="zf-list-b">
        	{% for hot_teacher in sorted_teacher %}
        	<li>    
            	<a href="{% url 'org:teacher_detail' hot_teacher.id %}">
            		<figure class="img-list-img-teacher"><img src="{{ MEDIA_URL }}{{ hot_teacher.image }}" width="100%"></figure>
                    <div class="right-money text-center">{{ hot_teacher.name }}&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'images/gold.png' %}">&nbsp;<span class="key picbig">金牌讲师</span></div>
                    <div class="right-txt">
                    	<p>所属单位：<i style="color: #fb8341;"><font size="5">{{ hot_teacher.work_position }}</font></i></p>
                        <div> </div>
                    </div>
               </a>  
            </li>
        	{% endfor %}

        </ul>
    </div>
</div>
{% endblock %}

{% block custom_js %}
{% endblock %}